body {
    
    background: url(image1sat.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.bg-navbar-trans {
    background-color: rgba(255, 255, 255, 0.12);
}

.navbar-brand {
    color:white !important;
    padding-right:10%;
}

.pad-top {
    padding-top:100px;
}

.navbar {
    border-bottom:1px solid #8a8a8a;
    padding-bottom: 1em;
    margin-bottom:1em;
}

.nav-item {
    padding-left:1em;
}
.nav-item a:not(.dropdown-item) {
    color:white !important;
}
.nav-item a:hover {
    transition:0.5s;
    color:black !important;
    background:white;
}
.bodylink {color:blueviolet !important}
.bodylink:hover {color:red !important} 
a {
    color:black;
    text-decoration: none;
}
a:hover {
    color:blue;
}

.fade-content {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}