body {
    
    background: url(image1sat.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.bg-navbar-trans {
    background-color: rgba(1, 1, 1%, 0.8);
}

.navbar-brand {
    color:white !important;
    padding-right:10em;
}

.pad-top {
    padding-top:100px;
}

a {
    color:black;
    text-decoration: none;
}
a:hover {
    color:blue;
}