body {
    
    background: url(image1sat.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.bg-navbar-trans {
    background-color: rgba(255, 255, 255, 0.12);
}

.navbar-brand {
    color:white !important;
    padding-right:10%;
}

.pad-top {
    padding-top:100px;
}

.navbar {
    border-bottom:1px solid #8a8a8a;
    padding-bottom: 1em;
    margin-bottom:1em;
}

.nav-item {
    
}
.nav-item a {
    color:white !important;
}
.nav-item a:hover {
    color:black;
}
a {
    color:black;
    text-decoration: none;
}
a:hover {
    color:blue;
}